<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcare_v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthcarev1">
        <activity android:name=".Prescription_records"></activity>
        <activity android:name=".Text_to_pdf" />
        <activity android:name=".Prescription" />
        <activity android:name=".Doctor_Appointments" />
        <activity android:name=".Patient_Appointments" />
        <activity android:name=".UserProfile" />
        <activity android:name=".ClinicDetails" />
        <activity android:name=".PManageProfile" />
        <activity android:name=".MedicineNameEntry" />
        <activity android:name=".PharmacistHome" />
        <activity android:name=".MedStoreSearch" />
        <activity android:name=".MedStoreResults" />
        <activity android:name=".viewpdf" />
        <activity android:name=".Medical_Records" />
        <activity android:name=".Doctor_categories" />
        <activity android:name=".DrBookingDetails" />
        <activity android:name=".bookinglist" />
        <activity android:name=".DoctorHome" />
        <activity android:name=".test" />
        <activity android:name=".Home" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Confirm_Prescription" />
    </application>

</manifest>